<div class="panel-header panel-header-sm" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <div style="width: 80px;">
      <img style="width: 60px;" src="/assets/img/logoWhite.png">
    </div>
    <h3 style="text-align: center; color: rgb(233, 227, 227);"> estás en el panel de Administración del Jardín Burbujas</h3>
</div>

<div class="container">
  <div class="columna">

    <div class="frame">
        <div class="icon-bbdd" style="margin: 0; background-color: rgb(255, 248, 248);">
          <i style="font-size: 80px; color:rgb(188, 188, 252)" class='bx bxs-data'></i>
        </div>
        <h4 style="margin-top: 7px;">Añadir Recursos</h4>
        <div>
          <p>Administración los recursos </br>sin recurrir a la base de</br> datos de forma directa.</br><b><a style="text-decoration: none;" href='/admin/tables'>Tablas</a></b></p>
        </div>
    </div>

    <div class="frame">
      <div class="icon-flask" style="margin: 0; background-color: rgb(255, 248, 248);">
         <i style="font-size: 80px; color:rgb(188, 188, 252)" class='bx bx-test-tube' ></i>
        </div>

        <h4 style="margin-top: 7px;">Testing</h4>

        <div>
          <p>Podremos disponer de la herramienta dedicada al testeo del servidor.</br><b><a style="text-decoration: none;" href='/admin/testing'>Testing</a></b></p>
        </div>
    </div>
      
    <div class="frame">
      <div class="icon-flask" style="margin: 0; background-color: rgb(255, 248, 248);">
           <i style="font-size: 80px; color:rgb(188, 188, 252)" class='bx bx-user' ></i>
       </div>

       <h4 style="margin-top: 7px;">Control basado en roles</h4>

       <div>
         <p>Modificación en equipo, según tu rol</br><b><a style="text-decoration: none;" href='/admin/users'>Equipo</a></b></p>
       </div>
    </div>

  </div>