*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html.body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.test-container{
    display:  flex;
    
}

.form-container{
    width: 400px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.output-test{
    width: 850px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(6, 7, 29, 0.1);
    background-color: rgb(17, 19, 32);
    font-size: 14px;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    border: 1px solid #000;
    padding: 10px;
    overflow: auto;

    /* Estilos personalizados del scroll */
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}

 /* Scrollbar */
 .output-test::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .output-test::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Thumb */
  .output-test::-webkit-scrollbar-thumb {
    background-color: #b1afaf;
    border-radius: 10px;
  }

.dataSetConsole{
    font-family: 'IBM Plex Mono', monospace;
}

.info{

    width:95.5%;
    padding: 10px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 252, 252);
    
}

.inSimbol {
    animation: inSimbol 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes inSimbol {
    from { opacity: 1; }
    to { opacity: 0; }
  }